@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

@mixin bold {
    font-weight: 700;
}

@mixin semi-bold {
    font-weight: 600;
}

h1 {
    font-size: 48px;
    @include bold;
}

h2 {
    font-size: 36px;
    @include bold;
}

h3 {
    font-size: 24px;
    @include semi-bold;
}

h4 {
    font-size: 21px;
    @include semi-bold;
}

h5 {
    font-size: 18px;
    @include semi-bold;
}

h6 {
    font-size: 16px;
    @include semi-bold;
}

p {
    font-size: 14px;
}
