$my-variable: 90px;
$primary-color: #333;
$secondary-color: #00f;
$color-black: #000;
$color-white: #fff;
$tone-dark-grey-5: #505159;
$tone-dark-grey-4: #737480;
$tone-dark-grey-3: #9395A3;
$tone-dark-grey-2: #ABAEBE;
$tone-dark-grey-1: #BDC0D2;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

@mixin center-horizontal {
    text-align: center;
    background-color: $color-white;
}

@function margin-large($size) {
    $multiply: 4px;
    @return $size * $multiply;
}

@function margin-small($size) {
    $multiply: 2px;
    @return $size * $multiply;
}