// @import './variables.scss';
@use './global';
@import './reset';
@import './typography';

.typography {
    font-size: 24px;
}

.nav {
    border-bottom: 1px solid global.$primary-color;
    // .nav__list {
    //     .nav__item {
    //         .nav__link {

    //         }
    //     }
    // }

    &__list {
        display: flex;
        justify-content: flex-end;
        @include global.center-horizontal;
        list-style: none;
        @media screen and (max-width: global.$sm) {
            //blok kodu
        }

        @media screen and (max-width: global.$md) {
            //blok kodu
            flex-direction: column;
        }
        
        @media screen and (max-width: global.$lg) {
            //blok kodu
        }
    }

    &__item {
        background-color: global.$color-white;
        margin: global.margin-large(10);

        &:hover {
            background-color: red;
        }
    }

    &__link {
        background-color: global.$color-white;
        color: global.$primary-color;
        @extend .typography;
    }
}
// Section
.items {
    color: global.$color-white;
}

.item {
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    &__box {
        min-height: calc(100vw / 3);
        width: calc(100% / 3);
        min-width: 320px;
        background-color: global.$tone-dark-grey-5;
        // margin-bottom: 20px;

        @media screen and (max-width: global.$lg) {
            min-height: calc(100vw / 2);
            width: 50%;
        }        
        
        @media screen and (max-width: global.$md) {
            height: 100vw;
            width: 100%;
        }



        &:nth-child(odd) {
            background-color: global.$tone-dark-grey-4;
        }
    }
}

//line 65 will be compiled to
// .item__box:nth-child(odd) {
//     background-color: #ff0;
// }

@for $item from 1 to 7 {
    // @debug $item;
    .item__box:nth-child(#{$item}) {
        $large-margin: 20px;
        $small-margin: 15px;
        @if $item == 3 {
            @warn "1. uważaj na tę linijkę bo jesteś w ifie";
            @media screen and (max-width: global.$lg) {
                border-top: 1px solid global.$tone-dark-grey-1;
                border-bottom: 1px solid global.$tone-dark-grey-1;
            }    
        }
        @if $item == 4 {
            background-color: red;
            @warn "2. uważaj na tę linijkę bo jesteś w ifie ";
        }

        padding: $item * $large-margin;

        @media screen and (max-width: global.$sm) {
            padding: $item * $small-margin;
        }        
        
    }
}



// $secondary-color: #333;

// @mixin center-horizontal {
//     text-align: center;
//     background-color: global.$color-white;
// }

// @mixin change-to-column {
//     @media screen and (max-width: 991px) {
//         flex-direction: column;
//     }
// }

// nav {
//     color: $secondary-color;
//     @include center-horizontal;
//     // background-color: #ffff00;
    
//     ul {
//         display: flex;
//         // @include change-to-column;


//         li {
//             padding: 20px;
//             width: 100px;
//             @include center-horizontal;
//         }
//     }
// }