nav {
  color: #00f;
  background-color: #ffff00;
  text-align: center;
  background-color: aqua;
  width: 15px;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 20px;
}

/*# sourceMappingURL=output_sass.css.map */
