@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 21px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 14px;
}

.typography, .nav__link {
  font-size: 24px;
}

.nav {
  border-bottom: 1px solid #333;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  background-color: #fff;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .nav__list {
    flex-direction: column;
  }
}
.nav__item {
  background-color: #fff;
  margin: 40px;
}
.nav__item:hover {
  background-color: red;
}
.nav__link {
  background-color: #fff;
  color: #333;
}

.items {
  color: #fff;
}

.item__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.item__box {
  min-height: calc(100vw / 3);
  width: calc(100% / 3);
  min-width: 320px;
  background-color: #505159;
}
@media screen and (max-width: 992px) {
  .item__box {
    min-height: calc(100vw / 2);
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .item__box {
    height: 100vw;
    width: 100%;
  }
}
.item__box:nth-child(odd) {
  background-color: #737480;
}

.item__box:nth-child(1) {
  padding: 20px;
}
@media screen and (max-width: 576px) {
  .item__box:nth-child(1) {
    padding: 15px;
  }
}

.item__box:nth-child(2) {
  padding: 40px;
}
@media screen and (max-width: 576px) {
  .item__box:nth-child(2) {
    padding: 30px;
  }
}

.item__box:nth-child(3) {
  padding: 60px;
}
@media screen and (max-width: 992px) {
  .item__box:nth-child(3) {
    border-top: 1px solid #BDC0D2;
    border-bottom: 1px solid #BDC0D2;
  }
}
@media screen and (max-width: 576px) {
  .item__box:nth-child(3) {
    padding: 45px;
  }
}

.item__box:nth-child(4) {
  background-color: red;
  padding: 80px;
}
@media screen and (max-width: 576px) {
  .item__box:nth-child(4) {
    padding: 60px;
  }
}

.item__box:nth-child(5) {
  padding: 100px;
}
@media screen and (max-width: 576px) {
  .item__box:nth-child(5) {
    padding: 75px;
  }
}

.item__box:nth-child(6) {
  padding: 120px;
}
@media screen and (max-width: 576px) {
  .item__box:nth-child(6) {
    padding: 90px;
  }
}

/*# sourceMappingURL=output_scss.css.map */
